<div id="container">
    @if (ViewBag.IsAuthenticated)
    {
        <iframe src='@Url.Action("JWTLogin", "Home", null, Context.Request.Scheme)' width='150%' height='1300px'></iframe>
    }
    else
    {
        <p style="margin-top: 20px">
            Please <a asp-controller="Home" asp-action="Loginpage" asp-route-returnURL="@Url.Action("Embed", "Home", null, Context.Request.Scheme)">login</a> to the application for embedding.
        </p>
    }
</div>